.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;


}

.div-menu {
  border: 3px solid rgb(20, 45, 160);
  padding: 10px;
  border-radius: 10px;
  height: 50%;
  width: 48%;
}

.div-menu h2 {
  color: blueviolet;
}

.operation-select {
  width: 38.5%;
}

.operation-select:focus {
  width:auto;
}

.number-input{
  width: 38.5%;
}

.operation-button{
  width: 33%;
}

@media screen and (min-width:383px) and (max-width:560px) {
  .div-menu{
    height: 50%;
    width: 70%;
  }
}

@media screen and (min-width:561px) and (max-width:949px) {
  .div-menu{
    height: 50%;
    width: 48%;
  }
}

@media screen and (min-width:950px) {
  .div-menu{
    width: 413px;

  }
}


