.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;


}

.div-menu {
  border: 3px solid rgb(20, 45, 160);
  padding: 10px;
  border-radius: 10px;
  height: 38%;
  width: 15%;
}

.div-menu h2 {
  color: blueviolet;
}

.operation-select {
  width: 38.5%;
}

.operation-select:focus {
  width:auto;
}

.number-input{
  width: 38.5%;
}

.operation-button{
  width: 33%;
}
